@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: url('./bungee-v11-latin-regular.woff2') format('woff2'),
       url('./bungee-v11-latin-regular.woff') format('woff');
}
